<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/MyToDoApp?serverTimezone=UTC
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345</property>

        <!-- Диалект -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Поведение -->

        <!--Liquibase → создаёт таблицы, а Hibernate → проверяет структуру-->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entity -->
        <mapping class="com.korotkov.todoapp.model.ToDo"/>
        <mapping class="com.korotkov.todoapp.model.User"/>

    </session-factory>
</hibernate-configuration>
